<!-- Front html for the Persian5k note type - card "persian-english" -->

<div class="persian5k">
  <div class="persian5k-head">
    <div class="persian5k-part-of-speech">{{Part-of-Speech}}</div>
  </div>
  <div class="persian5k-body">
    <div class="persian5k-word" dir="rtl">{{Word}}</div>
    <div class="persian5k-romanization hidden">{{Word-Romanization}}</div>
    <hr />
    <div class="persian5k-definition hidden">{{Definition}}</div>
    <hr />
    <div class="persian5k-sentence persian5k-color-target-word" dir="rtl">{{Sentence}}</div>
    <div class="persian5k-romanization hidden">{{Sentence-Romanization}}</div>
    <div class="persian5k-sentence-meaning hidden">{{Sentence-Meaning}}</div>
  </div>
</div>
